name: Sed-replacer
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Find and Replace
        uses: jacobtomlinson/gha-find-replace@master
        with:
          find: "Chrisdroid1"
          replace: "FireXbot"
      - name: Pull All Updates
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'SeD Replacer'
          commit_options: '--no-verify'
          repository: .
          commit_user_name: Chrisdroid1
          commit_user_email: userbotni7@gmail.com
          commit_author: Chrisdroid1 <userbotni7@gmail.com>
